---
import { Icon } from 'astro-icon/components';
import Heading from '../ui/Heading.astro';

const anteproyecto = [
    { name: 'Anteproyecto', href: '#' },
    { name: 'Proyecto Ejecutivo', href: '#' },
    { name: 'Direccion de Obra', href: '#' },
    { name: 'Gerenciamiento', href: '#' }
];

const contacto = [
    { text: 'Bávaro, Punta Cana, RD', icon: 'mdi:map-marker' },
    { text: '+1 829 983 2226', icon: 'mdi:phone' },
    { text: 'andryssantana2@gmail.com', icon: 'mdi:email' } 
];

const social = [
    { name: 'WhatsApp', href: '#', icon: 'mdi:whatsapp', color: 'hover:bg-green-500'}
];
---
<footer class="bg-cream-50 text-primary-900 pt-12 pb-6 border-t border-cream-300">
    <div class="container mx-auto px-6">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-12">
            
            <!--Company Info -->
            <div>
                <div class="flex items-center mb-6">
                    <Icon name="logo" class="w-9 h-9 mr-3 text-primary-600" />
                    <Heading text="Arquitecto" level={4} />
                </div>
                <p class="leading-relaxed text-secondary-600 text-sm">
                    Diseñamos espacios únicos que reflejan las necesidades y deseos
                    de quienes los habitarán, con pasión por cada detalle.
                </p>
            </div>
            

            <!-- Services -->
            <div>
                <h6 class="text-base font-semibold mb-4 relative inline-block text-primary-800">
                    Servicios
                    <span class="absolute bottom-0 left-0 w-8 h-0.5 bg-accent-500 rounded-full" />
                </h6>
                <ul class="space-y-2">
                    {anteproyecto.map(item => (
                        <li class="flex items-center text-secondary-600 hover:text-primary-600 transition transform hover:translate-x-1 duration-300">
                            <Icon name="generic/arrow" class="w-4 h-4 mr-2 text-accent-500" />
                            <a href={item.href} class="hover:underline">{item.name}</a>
                        </li>
                    ))}
                </ul>
            </div>

            <!-- Contact -->
            <div>
                <h6 class="text-base font-semibold mb-4 relative inline-block text-primary-800">
                    Contacto
                    <span class="absolute bottom-0 left-0 w-8 h-0.5 bg-accent-500 rounded-full" />
                </h6>
                <div class="space-y-3">
                    {contacto.map(con => (
                        <div class="flex items-center text-secondary-600 hover:text-primary-600 transition-transform hover:translate-x-1 duration-300">
                            <Icon name={con.icon} class="w-5 h-5 mr-3 text-accent-600" />
                            <span>{con.text}</span>
                        </div>
                    ))}
                </div>
            </div>

            <!-- Social -->
            <div>
                <h6 class="text-base font-semibold mb-4 relative inline-block text-primary-800">
                    Siguenos
                    <spam class="absolute bottom-0 left-0 w-8 h-0.5 bg-accent-500 rounded-full" />
                </h6>
                <div class="flex flex-wrap gap-3">
                    {social.map(soc => (
                        <a href={soc.href} class={`w-12 h-12 bg-cream-100 text-primary-800 rounded-full flex items-center justify-center shadow-md transition-all duration-300 hover:-translate-y-1 hover:scale-110 hover:shadow-lg ${soc.color}`}>
                            <Icon name={soc.icon} class="w-5 h-5" />
                        </a>
                    ))}
                </div>
            </div>
        </div>

        <!-- Footer Bottom -->
        <div class="border-t border-cream-300 mt-8 pt-6">
            <div class="flex flex-col md:flex-row justify-between items-center gap-4 text-sm text-secondary-600">
                <p>© {new Date().getFullYear()} Estudio de Arquitectura.</p>
                <p class="flex items-center">
                    Desarrollado con
                    <Icon name="mdi:heart" class="w-4 h-4 mx-1 text-red-500 " />
                    y con Astro
                </p>
            </div>
        </div>
    </div>
</footer>